@font-face {
    font-family: 'Clear Sans';
    src: url('../../public/fonts/ClearSans-Bold.woff2') format('woff2'),
    url('../../public/fonts/ClearSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('../../public/fonts/SFMono-Heavy.woff2') format('woff2'),
    url('../../public/fonts/SFMono-Heavy.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('../../public/fonts/DMMono-Medium.woff2') format('woff2'),
    url('../../public/fonts/DMMono-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}